html,
body {
  background-color: black;
  color: aliceblue;
  height: 100%;
}

.landingpage {
  text-align: center;
  margin-top: 20%;
}

.container {
  padding-top: 50px;
}

.navigation-links {
  text-align: center;
  margin-top: 1.5rem;
  position: sticky;
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 2.5rem;
  margin-bottom: 2.5rem;
}

.skills-page-title {
  text-align: center;
}

.skills-page-box {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 100%;
}

h3.projectspage-title {
  text-align: center;
}

.card {
  justify-content: space-evenly;
}

.projectcard.col-xl-4.col-lg-4.col-md-6.col-12 {
  padding-top: 1.5em;
}

.skills-card-column {
  text-align: center;
}

.skills-card-items.col-lg-6.col-md-6.col-sm-12.col-12 {
  text-align: center;
}

.skills-title.col-lg-12 {
  text-align: center;
  padding-bottom: 1.5em;
}

.skills-title {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1.5em;
}

.col-xl-4.col-lg-3.col-md-3.col-sm-12.col-12.skills-container {
  text-align: center;
  border-style: solid;
  border-color: ivory;
  padding-bottom: 2em;
  border-radius: 25px;
  margin-top: 2em;
  margin-bottom: 2em;
  justify-content: center;
  margin-right: 1em;
  margin-left: 1em;
}

.skills-page-row {
  justify-content: center;
}
.skills-container.col-xl-3.col-lg-3.col-md-3.col-sm-12.col-12 {
  border-style: solid;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 25px;
  border-color: ivory;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
