html,
body {
  background-color: black;
  color: aliceblue;
  height: 100%;
}

.landingpage {
  text-align: center;
  margin-top: 20%;
}

.container {
  padding-top: 50px;
}

.navigation-links {
  text-align: center;
  margin-top: 1.5rem;
  position: sticky;
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 2.5rem;
  margin-bottom: 2.5rem;
}

.skills-page-title {
  text-align: center;
}

.skills-page-box {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 100%;
}

h3.projectspage-title {
  text-align: center;
}

.card {
  justify-content: space-evenly;
}

.projectcard.col-xl-4.col-lg-4.col-md-6.col-12 {
  padding-top: 1.5em;
}

.skills-card-column {
  text-align: center;
}
